[Unit]
Description=Cabilltendo Boot Splash
DefaultDependencies=no
After=systemd-udev-settle.service
Before=cavilltendo.service

[Service]
Type=oneshot
User={{USER_NAME}}
ExecStart={{SCRIPTS_DIR}}/run_bootsplash.sh

[Install]
WantedBy=multi-user.target
