[Unit]
Description=Cabilltendo Launcher
After=multi-user.target

[Service]
Type=simple
User={{USER_NAME}}
Environment=HOME=/home/{{USER_NAME}}
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
ExecStartPre=-/bin/sh -c 'echo -ne "\033c" > /dev/tty1'
ExecStart=/usr/bin/xinit {{SCRIPTS_DIR}}/run_launcher.sh -- :0 vt1
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
