[Unit]
Description=Cabilltendo Remote Control
After=network.target

[Service]
User={{USER_NAME}}
EnvironmentFile={{SCRIPTS_DIR}}/config.sh
ExecStart={{PYTHON_BIN}} {{REMOTE_DIR}}/server.py
Restart=always

[Install]
WantedBy=multi-user.target
