[Unit]
Description=Cabilltendo Remote Control
After=network.target

[Service]
User={{USER_NAME}}
ExecStart={{SCRIPTS_DIR}}/run_remote.sh
Restart=always

[Install]
WantedBy=multi-user.target
