[Unit]
Description=Cabilltendo Launcher
After=bootsplash.service multi-user.target
Requires=bootsplash.service

[Service]
User={{USER_NAME}}
ExecStart={{SCRIPTS_DIR}}/run_launcher.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
