; Video
video.fs 1
video.driver sdl

; Resolution
video.xres {{SCREEN_WIDTH}}
video.yres {{SCREEN_HEIGHT}}

; Sound
sound.driver sdl
sound.rate 44100

; Input - gamepad defaults
nes.input.port1 gamepad
snes.input.port1 gamepad
gba.input.port1 gamepad

; Misc
autosave 1
